node_modules
**/node_modules

# build outputs
**/dist

# env files
.env
**/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
pins_export*.csv
server/pins_export*.csv

# database
*.db
*.sqlite
*.sqlite3
server/prisma/dev.db
