@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased;
}

table {
  @apply bg-transparent;
}

thead th {
  @apply text-[10px] font-bold uppercase tracking-[0.3em] text-slate-500;
}

tbody td {
  @apply font-mono text-slate-300 border-b border-slate-800/50;
}
